<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tistory.charlezz.wifi"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 와이파이에 대한 정보 접근 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 와이파이에 상태 변경 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 블루투스 정보 접근-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!-- 블루투스 상태 변경-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WifiActivity">

        </activity>
        <activity android:name=".SelectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BluetoothActivity">
        </activity>
    </application>

</manifest>
